<section class="cadastro-container">

<h2>CADASTRO</h2>

<form action="">
    <fieldset>
        <legend>preencha seus dados aqui embaixo</legend>

        <input type="text" placeholder="Nome">
        <input type="text" placeholder="Sobrenome">
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Senha">
        <input type="text" placeholder="Cidade">
        <input type="tel" placeholder="Telefone">

    </fieldset>

    <button type="submit">CONFIRMAR</button>
</form>



</section>
