<section class="login-container">
  <div class="form-box">
    <h2>Entrar na sua conta</h2>
    <p>Acesse com seus dados para continuar</p>

    <div class="social-login">
      <button type="button" class="google" (click)="signInWithGoogle()" [disabled]="isLoading">
        <img src="assets/icons/logo-google.svg" alt="Google logo" class="google-logo" style="width: 18px; height: 18px; margin-right: 8px;">
        <span>Login com Google</span>
      </button>
    </div>

    <div class="separator">ou</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmitEmailPassword()">

      <label for="loginEmail">Email</label>
      <div class="input-wrapper">
        <i class="fas fa-envelope input-icon"></i>
        <input id="loginEmail" type="email" placeholder="Seu e-mail" formControlName="email" />
      </div>
      
      <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="field-error-message">
        <i class="fas fa-exclamation-circle"></i>
        <span *ngIf="f['email'].errors?.['required']">Email é obrigatório.</span>
        <span *ngIf="f['email'].errors?.['email']">Formato de e-mail inválido.</span>
      </div>

      <label for="loginPassword">Senha</label>
      <div class="input-wrapper">
        <i class="fas fa-lock input-icon"></i>
        <input id="loginPassword" type="password" placeholder="Digite sua senha" formControlName="password" />
      </div>

      

      
      <div *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)" class="field-error-message">
        <i class="fas fa-exclamation-circle"></i>
        <span *ngIf="f['password'].errors?.['required']">Senha é obrigatória.</span>
      </div>

      <div *ngIf="errorMessage" class="api-error-message">
        {{ errorMessage }}
      </div>

      <button type="submit" class="login-btn" [disabled]="isLoading || loginForm.invalid">
        <span *ngIf="!isLoading">Entrar</span>
        <span *ngIf="isLoading">Aguarde...</span>
      </button>
    </form>

    <p class="cadastro">Não tem conta? <a routerLink="/cadastro">Cadastre-se</a></p>
  </div>

  <div class="image-box">
    <img src="../../assets/icons/doguinhoII.jpg" alt="Cachorro fofo" />
  </div>
</section>