<section class="hero">
    <div class="hero-content">
        <h2>Transforme seu PIX em amor, alimento e proteção para animais.</h2>
        <button class="cta-button">CADASTRA-SE AGORA MESMO</button>
    </div>
</section>

<section class="como-ajudar">
    <div class="card destaque">
      <i class="fas fa-hands-helping icon"></i>
      <h3>Como ajudar?</h3>
      <p>Você pode transformar a realidade de dezenas de animais com sua contribuição. A solidariedade muda vidas!</p>
      <button class="btn amarelo">Saiba como</button>
    </div>
  
    <div class="card">
      <i class="fas fa-hand-holding-usd icon"></i>
      <h3>Faça uma doação pontual</h3>
      <p>Qualquer valor pode significar um prato de ração ou um tratamento veterinário completo.</p>
      <button class="btn verde">Quero doar</button>
    </div>
  
    <div class="card">
      <i class="fas fa-sync-alt icon"></i>
      <h3>Seja um doador fixo</h3>
      <p>Ajude mensalmente e nos ajude a garantir cuidados constantes para nossos resgatados.</p>
      <button class="btn amarelo">Apoiar sempre</button>
    </div>
  </section>

  <section class="nossa-historia">
    <div class="historia-imagem">
      <img src="../../assets/icons/abraco-cachorro.png" alt="Mulher abraçando cachorro">
      <div class="destaque-resgate">
        <strong>+ de 40.000</strong>
        <span>ANIMAIS ASSISTIDOS</span>
      </div>
    </div>
  
    <div class="historia-conteudo">
      <h2>Conheça Nossa História</h2>
      <p>
        Fundada em 2015 com a missão de desburocratizar
        a forma de financiar e proteger animais em situação de risco,
        o PetDoa conecta pessoas que se importam a quem mais precisa de ajuda.
        Com sua contribuição, centenas de vidas já foram transformadas.
      </p>
      <p>
        Nosso sistema de contribuição foi criado para conectar pessoas dispostas a ajudar com quem cuida de animais em situação de vulnerabilidade.
        Por meio do Petdoa, você faz uma doação que é direcionada a ONGs e protetores independentes cadastrados e verificados. Esses recursos ajudam diretamente com alimentação, castrações, tratamentos veterinários e acolhimento de animais resgatados das ruas.
        Transparente e acessível, o Petdoa permite doações únicas ou mensais, com a certeza de que cada contribuição representa um ato real de amor.
      </p>
      <ul>
        <li><i class="fas fa-check-circle"></i> Acreditamos no fim do abandono</li>
        <li><i class="fas fa-check-circle"></i> Lutamos pela proteção animal</li>
        <li><i class="fas fa-check-circle"></i> Todo mundo pode ajudar</li>
      </ul>
      <button class="btn roxo">Fazer Parte desse Projeto</button>
    </div>
  </section>
  
  
  